<div class="banner">
  <div class="container">
    <h1>HOTELS & TRIPS</h1>
    <p>Welcome Michel !</p>
  </div>
</div>

<p>All the trips you ever dreamed of at your fingertips</p>

<form class="form-wrapper">
    <input type="text" id="search" placeholder="I want to travel to..." required>
    <input type="submit" value="go" id="submit">
</form>


<div class="all-cards">

  <% @destinations.each do |destination|%>
  <%= link_to destination_path(destination), class:"no-underline" do %>
    <div class="card-destination">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-destination-infos">
            <h2><%= destination.city %>, <%= destination.country%></h2>
            <p><%= destination.price_per_day %>€ /day</p>
      </div>
      <div class="card-description">
        <p><%= destination.description %></p>
      </div>

      <div class="btn-small"> More </div>

    </div>

    <% end %>

  <% end %>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Clémence
  </div>
</div>
